#define ZMK_POINTING_DEFAULT_MOVE_VAL 400  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 150   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>


&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <1000>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <250>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
    delay-ms = <0>;                   // 0
};
&mt { flavor = "tap-preferred"; };

&lt { flavor = "hold-preferred"; };

&soft_off { hold-time-ms = <2000>; };

/ {
    behaviors {
        ak_c: ak_c {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&kp C>;
            akt_qc { trigger-keys = <Q>; max-prior-idle-ms = <300>; bindings = <&sh_because>;};
        };
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        td_bius: td_bius {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt LC(B) LC(I)>, <&mt LC(U) LC(S)>;
        };

        td_escape: td_escape {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt ESC DEL>, <&kp DEL>;
        };

        as_ht: autoshift_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTOSHIFT_HOLD_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <135>;
            flavor = "tap-preferred";
            bindings = <&shifted>, <&kp>;
        };

        mm_comma: mod_morph_comma {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            bindings = <&kp COMMA>, <&kp QUESTION>;
        };

        mm_hyphen: mod_morph_hyphen {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            bindings = <&kp MINUS>, <&kp DOUBLE_QUOTES>;
        };

        mm_quote: mod_morph_quote {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            bindings = <&kp SQT>, <&kp UNDERSCORE>;
        };

        mm_slash: mod_morph_slash {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            bindings = <&kp FSLH>, <&kp BSLH>;
        };

        mm_backspace: mod_morph_backspace {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            bindings = <&kp BSPC>, <&kp DEL>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <1 15 29>;
            layers = <0 1 2 3 4 5 6>;
        };

        LCtrl {
            bindings = <&kp LEFT_CONTROL>;
            key-positions = <4 17>;
            layers = <0 1 2 3 4 5 6>;
        };

        LEnter {
            bindings = <&kp ENTER>;
            key-positions = <15 16 17>;
            layers = <0 1 2 3 4 5 6>;
        };

        RCtrl {
            bindings = <&kp RCTRL>;
            key-positions = <8 23>;
            layers = <0 1 2 3 4 5 6>;
        };

        LShift {
            bindings = <&kp LSHIFT>;
            key-positions = <3 16>;
            layers = <0 1 2 3 4 5 6>;
        };

        RShift {
            bindings = <&kp RSHIFT>;
            key-positions = <9 24>;
            layers = <0 1 2 3 4 5 6>;
        };

        LAlt {
            bindings = <&kp LALT>;
            key-positions = <2 15>;
            layers = <0 1 2 3 4 5 6>;
        };

        RAlt {
            bindings = <&kp RALT>;
            key-positions = <10 25>;
            layers = <0 1 2 3 4 5 6>;
        };

        LGui {
            bindings = <&kp LGUI>;
            key-positions = <1 14>;
            layers = <0 1 2 3 4 5 6>;
        };

        RGui {
            bindings = <&kp RGUI>;
            key-positions = <11 26>;
            layers = <0 1 2 3 4 5 6>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <16 17 23 24>;
            layers = <0 1 2 3 4 5 6>;
        };

        ToSteno {
            bindings = <&ToSteno>;
            key-positions = <14 2 10 26>;
            layers = <0 1 2 3 4 5 6>;
        };

        // One-handed layer combos - Left Hand (ohl_*)
        // Key mappings: 1->5, 2->17, 3->4, 4->16, 5->3, 6->15, 7->2, 8->14

        ohl_b: ohl_b {
            bindings = <&kp B>;
            key-positions = <15 3>; // 4 15 -> b
            layers = <6>;
        };

        ohl_c: ohl_c {
            bindings = <&kp C>;
            key-positions = <17 15>; // 17 15 -> c
            layers = <6>;
        };

        ohl_d: ohl_d {
            bindings = <&kp D>;
            key-positions = <17 14>; // 17 14 -> d
            layers = <6>;
        };

        ohl_f: ohl_f {
            bindings = <&kp F>;
            key-positions = <2 4>; // 5 3 -> f
            layers = <6>;
        };

        ohl_g: ohl_g {
            bindings = <&kp G>;
            key-positions = <5 2>; // 5 2 -> g
            layers = <6>;
        };

        ohl_h: ohl_h {
            bindings = <&kp H>;
            key-positions = <16 17>; // 16 15 -> h
            layers = <6>;
        };

        ohl_j: ohl_j {
            bindings = <&kp J>;
            key-positions = <16 1>; // 16 2 -> j
            layers = <6>;
        };

        ohl_k: ohl_k {
            bindings = <&kp K>;
            key-positions = <15 4>; // 5 15 -> k
            layers = <6>;
        };

        ohl_l: ohl_l {
            bindings = <&kp L>;
            key-positions = <17 3>; // 17 4 -> l
            layers = <6>;
        };

        ohl_m: ohl_m {
            bindings = <&kp M>;
            key-positions = <17 1>; // 17 2 -> m
            layers = <6>;
        };

        ohl_p: ohl_p {
            bindings = <&kp P>;
            key-positions = <4 3>; // 4 3 -> p
            layers = <6>;
        };

        ohl_q: ohl_q {
            bindings = <&kp Q>;
            key-positions = <16 14>; // 16 14 -> q
            layers = <6>;
        };

        ohl_u: ohl_u {
            bindings = <&kp U>;
            key-positions = <17 2>; // 17 3 -> u
            layers = <6>;
        };

        ohl_v: ohl_v {
            bindings = <&kp V>;
            key-positions = <15 16>; // 3 15 -> v
            layers = <6>;
        };

        ohl_w: ohl_w {
            bindings = <&kp W>;
            key-positions = <14 4>; // 5 14 -> w
            layers = <6>;
        };

        ohl_x: ohl_x {
            bindings = <&kp X>;
            key-positions = <14 3>; // 4 14 -> x
            layers = <6>;
        };

        ohl_y: ohl_y {
            bindings = <&kp Y>;
            key-positions = <4 3>; // 5 4 -> y
            layers = <6>;
        };

        ohl_z: ohl_z {
            bindings = <&kp Z>;
            key-positions = <1 3>; // 4 2 -> z
            layers = <6>;
        };

        ohl_colon: ohl_colon {
            bindings = <&kp COLON>;
            key-positions = <15 14>; // 15 14 -> colon
            layers = <6>;
        };

        ohl_semicolon: ohl_semicolon {
            bindings = <&kp SEMI>;
            key-positions = <3 2>; // 3 2 -> semicolon
            layers = <6>;
        };

        ohl_question: ohl_question {
            bindings = <&kp QUESTION>;
            key-positions = <17 4 3>; // 17 4 3 -> question mark
            layers = <6>;
        };

        ohl_exclamation: ohl_exclamation {
            bindings = <&kp EXCLAMATION>;
            key-positions = <5 16 15>; // 5 16 15 -> exclamation mark
            layers = <6>;
        };

        ohl_hyphen: ohl_hyphen {
            bindings = <&kp MINUS>;
            key-positions = <5 4 3>; // 5 4 3 -> hyphen
            layers = <6>;
        };

        ohl_slash: ohl_slash {
            bindings = <&kp FSLH>;
            key-positions = <16 3>; // 16 3 -> slash
            layers = <6>;
        };

        ohl_backslash: ohl_backslash {
            bindings = <&kp BSLH>;
            key-positions = <5 16>; // 5 16 -> backward slash
            layers = <6>;
        };

        // One-handed layer combos - Right Hand (ohr_*)
        // Key mappings: 1->8, 2->23, 3->9, 4->24, 5->10, 6->25, 7->11, 8->26

        ohr_b: ohr_b {
            bindings = <&kp B>;
            key-positions = <9 25>; // 9 25 -> b
            layers = <6>;
        };

        ohr_c: ohr_c {
            bindings = <&kp C>;
            key-positions = <23 25>; // 23 25 -> c
            layers = <6>;
        };

        ohr_d: ohr_d {
            bindings = <&kp D>;
            key-positions = <23 26>; // 23 26 -> d
            layers = <6>;
        };

        ohr_f: ohr_f {
            bindings = <&kp F>;
            key-positions = <8 10>; // 8 10 -> f
            layers = <6>;
        };

        ohr_g: ohr_g {
            bindings = <&kp G>;
            key-positions = <8 11>; // 8 11 -> g
            layers = <6>;
        };

        ohr_h: ohr_h {
            bindings = <&kp H>;
            key-positions = <24 23>; // 24 25 -> h
            layers = <6>;
        };

        ohr_j: ohr_j {
            bindings = <&kp J>;
            key-positions = <24 11>; // 24 11 -> j
            layers = <6>;
        };

        ohr_k: ohr_k {
            bindings = <&kp K>;
            key-positions = <8 25>; // 8 25 -> k
            layers = <6>;
        };

        ohr_l: ohr_l {
            bindings = <&kp L>;
            key-positions = <23 9>; // 23 9 -> l
            layers = <6>;
        };

        ohr_m: ohr_m {
            bindings = <&kp M>;
            key-positions = <23 11>; // 23 11 -> m
            layers = <6>;
        };

        ohr_p: ohr_p {
            bindings = <&kp P>;
            key-positions = <9 10>; // 9 10 -> p
            layers = <6>;
        };

        ohr_q: ohr_q {
            bindings = <&kp Q>;
            key-positions = <24 26>; // 24 26 -> q
            layers = <6>;
        };

        ohr_u: ohr_u {
            bindings = <&kp U>;
            key-positions = <23 10>; // 23 10 -> u
            layers = <6>;
        };

        ohr_v: ohr_v {
            bindings = <&kp V>;
            key-positions = <24 25>; // 10 25 -> v
            layers = <6>;
        };

        ohr_w: ohr_w {
            bindings = <&kp W>;
            key-positions = <8 26>; // 8 26 -> w
            layers = <6>;
        };

        ohr_x: ohr_x {
            bindings = <&kp X>;
            key-positions = <9 26>; // 9 26 -> x
            layers = <6>;
        };

        ohr_y: ohr_y {
            bindings = <&kp Y>;
            key-positions = <8 9>; // 8 9 -> y
            layers = <6>;
        };

        ohr_z: ohr_z {
            bindings = <&kp Z>;
            key-positions = <9 11>; // 9 11 -> z
            layers = <6>;
        };

        ohr_colon: ohr_colon {
            bindings = <&kp COLON>;
            key-positions = <25 26>; // 25 26 -> colon
            layers = <6>;
        };

        ohr_semicolon: ohr_semicolon {
            bindings = <&kp SEMI>;
            key-positions = <10 11>; // 10 11 -> semicolon
            layers = <6>;
        };

        ohr_question: ohr_question {
            bindings = <&kp QUESTION>;
            key-positions = <23 9 10>; // 23 9 10 -> question mark
            layers = <6>;
        };

        ohr_exclamation: ohr_exclamation {
            bindings = <&kp EXCLAMATION>;
            key-positions = <8 24 25>; // 8 24 25 -> exclamation mark
            layers = <6>;
        };

        ohr_hyphen: ohr_hyphen {
            bindings = <&kp MINUS>;
            key-positions = <8 9 10>; // 8 9 10 -> hyphen
            layers = <6>;
        };

        ohr_slash: ohr_slash {
            bindings = <&kp FSLH>;
            key-positions = <24 10>; // 24 10 -> slash
            layers = <6>;
        };

        ohr_backslash: ohr_backslash {
            bindings = <&kp BSLH>;
            key-positions = <8 24>; // 8 24 -> backward slash
            layers = <6>;
        };

        LToOneHand {
            bindings = <&to 6>;
            key-positions = <30 31 32>;
            layers = <1 0>;
        };

        RToOneHand {
            bindings = <&to 6>;
            key-positions = <37 38 39>;
            layers = <1 0>;
        };
    };

    macros {
        sh_because: sh_because {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp BSPC &kp B &kp E &kp C &kp A &kp U &kp S &kp E>;

            label = "sh_because";
        };
        shifted: macro_shifted_kp {
            #binding-cells = <1>;
            label = "MACRO_SHIFTED_KP";
            compatible = "zmk,behavior-macro-one-param";
            bindings =
                <&macro_press>,
                <&kp LSHFT &macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_release>,
                <&kp LSHFT>;
        };

        as: autoshift {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            label = "AUTOSHIFT_KP";
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &macro_param_1to2 &as_ht MACRO_PLACEHOLDER MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &macro_param_1to2 &as_ht MACRO_PLACEHOLDER MACRO_PLACEHOLDER>;
        };

        ToChinese: ToChinese {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LA(LS(NUMBER_0)) &to 0>;

            label = "TOCHINESE";
        };

        ToShrome: ToShrome {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LS(LA(NUMBER_1)) &to 1>;

            label = "TOSHROME";
        };

        ToSteno: ToSteno {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp E &kp R &kp F &kp V &kp I &kp K &kp H>,
                <&macro_release>,
                <&kp E &kp R &kp F &kp V &kp I &kp K &kp H>,
                <&macro_tap>,
                <&to 7>;

            label = "TOSTENO";
        };

        ExitSteno: ExitSteno {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp E &kp R &kp F &kp V &kp U &kp H>,
                <&macro_release>,
                <&kp E &kp R &kp F &kp V &kp U &kp H>,
                <&macro_tap>,
                <&to 1>;

            label = "EXITSTENO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        QWERTY {
            display-name = "QWERTY";
            bindings = <
&kp ESC            &kp Q  &kp W  &kp E      &kp R        &kp T                          &msc MOVE_Y(50)              &kp Y      &kp U      &kp I      &kp O    &kp P     &kp DEL
&kp BACKSPACE      &kp A  &kp S  &kp D      &kp F        &kp G                &kp LEFT  &kp ENTER         &kp RIGHT  &kp H      &kp J      &kp K      &kp L    &kp SEMI  &kp SQT
&kp LC(BACKSPACE)  &kp Z  &kp X  &kp C      &kp V        &kp B  &kp C_MUTE              &msc MOVE_Y(-50)             &kp N      &kp M      &kp COMMA  &kp DOT  &kp FSLH  &as TAB
                                 &lt 4 TAB  &lt 2 SPACE  &td0                                                        &ToShrome  &kp SPACE  &lt 3 TAB
            >;
            sensor-bindings = <&inc_dec_kp K_VOLUME_UP2 K_VOLUME_DOWN2>;
        };

        Shrome {
            bindings = <
&kp ESC       &kp W      &kp L  &kp Y      &kp M        &kp K                        &msc SCRL_UP            &kp Z       &kp F      &kp O      &kp U       &kp J      &kp SEMI
&kp BSPC      &ak_c      &kp R  &kp S      &kp T        &kp D                &trans  &trans          &trans  &kp P       &kp N      &kp A      &kp E       &kp I      &mm_comma
&kp LC(BSPC)  &mm_quote  &kp X  &kp G      &kp V        &kp Q  &kp C_MUTE            &msc SCRL_DOWN          &kp B       &kp H      &kp DOT    &mm_hyphen  &mm_slash  &as TAB
                                &lt 4 TAB  &lt 2 SPACE  &td0                                                 &ToChinese  &kp SPACE  &lt 3 TAB
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
            label = "Shrome";
        };

        Symbols {
            display-name = "Symbols";
            bindings = <
&kp GRAVE      &kp LS(EXCL)  &as N7  &as N8     &as N9     &mt STAR PLUS                                             &mmv MOVE_UP                     &kp GRAVE       &kp LBKT        &kp RBKT      &kp LS(LBRC)   &kp LS(RBRC)  &kp RBKT
&mm_backspace  &as N6        &as N1  &as N5     &as N0     &kp EQUAL                                 &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp LS(PLUS)    &kp LS(LPAR)    &kp LS(RPAR)  &kp LS(COLON)  &kp SEMI      &kp PG_UP
&kp LC(BSPC)   &kp DOT       &as N2  &as N3     &as N4     &mt SLASH MINUS  &kp C_BRIGHTNESS_AUTO                    &mmv MOVE_DOWN                   &kp LS(STAR)    &kp MINUS       &kp LS(LT)    &kp LS(GT)     &mm_slash     &kp U
                                     &kp SPACE  &kp SPACE  &kp SPACE                                                                                  &kp LEFT_SHIFT  &kp UNDERSCORE  &as N0
            >;

            sensor-bindings = <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
        };

        Nav {
            display-name = "Nav";
            bindings = <
&bootloader  &mkp MCLK     &mkp RCLK       &mmv MOVE_UP    &mkp LCLK        &msc SCRL_UP                              &mmv MOVE_UP                     &kp HOME   &kp LC(LEFT_ARROW)  &kp UP_ARROW    &kp LC(RIGHT_ARROW)  &kp RPAR   &kp BSPC
&trans       &bt BT_CLR    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_DOWN            &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp END    &kp LEFT_ARROW      &kp DOWN_ARROW  &kp RIGHT_ARROW      &mkp LCLK  &kp GRAVE
&bt BT_CLR   &out OUT_USB  &out OUT_BLE    &bt BT_PRV      &bt BT_NXT       &mkp MB5        &trans                    &mmv MOVE_DOWN                   &kp UNDER  &kp PLUS            &kp LBRC        &kp RBRC             &kp PIPE   &kp TILDE
                                           &trans          &trans           &kp SPACE                                                                  &to 1      &trans              &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        Shortcuts {
            display-name = "Shortcuts";
            bindings = <
&studio_unlock  &mt LC(LS(TAB)) LC(TAB)  &kp LC(W)            &kp F3     &kp F4     &mt LS(LC(T)) LC(T)                                &mmv MOVE_UP                     &kp F1  &kp F2        &kp F3         &kp F4         &kp F5          &kp F6
&trans          &kp LC(A)                &mt LC(LS(S)) LC(S)  &mkp MCLK  &kp LC(F)  &mkp MB4                           &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp F7  &kp F8        &kp F9         &kp F10        &kp F11         &kp F12
&kp LC(LS(Z))   &kp LC(Z)                &kp LC(X)            &kp LC(C)  &kp LC(V)  &td_bius             &kp C_MUTE                    &mmv MOVE_DOWN                   &trans  &kp LEFT_GUI  &kp LG(SPACE)  &kp LG(LS(S))  &kp SCROLLLOCK  &kp PAUSE_BREAK
                                                              &trans     &trans     &trans                                                                              &trans  &trans        &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans            &trans          &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                                    &trans  &trans  &trans
            >;
        };

        OneHanded {
            display-name = "One-Handed";
            bindings = <
&kp ESC   &kp R    &kp O    &kp N      &kp I   &kp SQT                    &trans          &kp A  &kp I   &kp N      &kp O    &kp R   &kp ESC
&kp BSPC  &kp S    &kp A    &kp T      &kp E   &kp D              &trans  &trans  &trans  &kp D  &kp E   &kp T      &kp A    &kp S   &kp BSPC
&trans    &kp DOT  &kp DOT  &kp COMMA  &kp G   &kp B    &trans            &trans          &kp N  &kp G   &kp COMMA  &kp DOT  &trans  &kp LC(BSPC)
                            &trans     &trans  &trans                                     &ExitSteno  &trans  &trans
            >;
        };

        Steno {
            display-name = "Steno";
            bindings = <
&kp ESC  &kp Q   &kp W   &kp E   &kp R   &kp T                     &trans          &kp Y      &kp U   &kp I   &kp O   &kp P     &kp LBKT
&kp TAB  &kp A   &kp S   &kp D   &kp F   &kp G             &trans  &trans  &trans  &kp H      &kp J   &kp K   &kp L   &kp SEMI  &kp SQT
&trans   &trans  &trans  &trans  &trans  &trans  &trans            &trans          &trans     &trans  &trans  &trans  &trans    &trans
                         &kp C   &kp V   &trans                                    &ToShrome  &kp N   &kp M
            >;
        };
    };
};
